@media (min-width: 1700px) {
	.wraper-background {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 3700px) {
	.anketa_back {
		width: 100%;
	}
}

@media (max-width: 767px) {
	#header {
		display: none!important;
		opacity: 0!important;
	}
	
}

@media (width: 320px) {
	.jdun h3 {
		font-size: 40px
	}

	.telephone h2 {
		font-size: 40px;
	}

	.telephone a {
		font-size: 29px!important;
	}

	.wrap3-button button {
		height: 100px!important;
	}

	.wrap3 h2 {
		font-size: 40px;
	}

	.wrap-team h3, .wrap-otv h3, .wrap-komp h3, .wrap-exp h3 {
		font-size: 25px;
	}

	.zvon a {
		font-size: 25px;
	}

	.wrap-block1 {
		text-align: center;
	}

	.wrap-title h2 {
		font-size: 30px;
	}

	.wrap-title h3 {
		font-size: 25px;
	}

	.coop h2 {
		font-size: 30px;
	}

	.anketa h2 {
		font-size: 40px;
	}

	.anketa button {
		width: 100%;
	}

	.questions h2 {
		font-size: 40px;
	}

	.adress::before, .e-mail::before, .phone::before {
		display: none;
	}

	.questions {
		margin-bottom: 0;
	}

}

@media (min-width: 0) and (max-width: 543px) {
	.krug, .krug2, .krug3, .map, .whyme, .line {
		display: none;
	}

	.header-logo {
		text-align: center;
		margin: 20px 0;
	}
	.sotrudnichestvo_timeline {
		margin-top: -40px;
		margin-left: 5px;
		text-align: center;
		width: 100%;
	}

	.header-title h1 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	.zvon, .knop {
		text-align: center;
		margin-bottom: 20px;
	}

	.wrap-block2 button {
		float: none;
	}

	.form-group input, .form-group textarea, .form-group select {
		width: 90%;
	}

	.form-group2 {
		width: 90%;
		margin-top: 40px;
	}

	
	.wrap-block1, .wrap-block2 {
		height: 100%;
	}

	.wraper-background {
		height: 100%;
	}

	.zvon a {
		font-size: 28px;
	}

	.span-all a {
		font-size: 18px;
	}

	.wrap-team, .wrap-otv, .wrap-komp, .wrap-exp {
		margin-bottom: 90px;
		margin-left: 0;
		margin-right: 15px;
		padding: 0 15px!important;
	}

	.panel-default>.panel-heading+.panel-collapse>.panel-body {
		padding: 15px;
	}

	.panel-title {
		margin-bottom: 20px!important;
	}

	.wrap3-button {
		text-align: center;
		padding: 0;
	}

	.telephone h2 {
		margin-top: 20px;
	}

	.telephone a {
		font-size: 35px;
		margin-bottom: 20px;
	}

	.telephone {
		margin-bottom: 20px;
	}

	.jdun h3 {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.jdun {
		margin-bottom: 40px;
	}

	.coop h2 {
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 32px;
	}

	.zayavka, .soglasovanie, .ocenka, .spor, .perechet {
		text-align: center;
		font-size: 35px;
	}

	.zayavka span, .soglasovanie span, .ocenka span, .spor span, .perechet span{
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}

	.zayavka p, .soglasovanie p, .ocenka p, .spor p, .perechet p {
		padding: 15px;
	}

	.zayavka::before, .soglasovanie::before, .ocenka::before, .spor::before, .perechet::before {
		display: none;
	}

	.coop-ul li {
		margin-bottom: 60px;
	}

	.anketa_back {
		width: auto;
		height: 100%;
	}

	.anketa h2 {
		margin: 40px 0;
		font-size: 50px;
	}

	.questions h2 {
		margin: 60px 0;
	}

	.adress, .e-mail, .phone {
		margin-bottom: 20px;
	}

	.adress > div h3, .e-mail > div h3, .phone > div h3 {
		font-size: 30px;
	}

	.adress > div p, .e-mail > div p, .phone > div p {
		font-size: 20px;
	}

	.feedback h2 {
		margin: 40px 0;
		border-left: none;
	}

	.logo-footer {
		text-align: center;
		margin: 40px 0;
	}

	.adress-footer {
		text-align: center;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.it-footer {
		text-align: center;
	}

	.wrap3-button button {
		height: 70px;
	}

	.questions {
		margin-bottom: 0;
	}

	.it-footer img {
		margin: 0;
	}

	.anketa button {
		width: 100%;
	}

	.telephone h2 {
		font-size: 40px;
	}

	.wrap-title h2 {
		font-size: 35px;
	}

	.wrap-title h3 {
		font-size: 27px;
	}

	.close {
		right: 0px!important;
		color: white!important;
	}

.modal.in .modal-dialog  {
		margin-top: 15%!important;
	}
}

@media (min-width: 544px) and (max-width: 767px) {
	.krug, .krug2, .krug3, .map, .whyme, .line {
		display: none;
	}

	.header-logo {
		text-align: center;
		margin: 20px 0;
	}

	.header-title h1 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 0;
	}

	.zvon, .knop {
		text-align: center;
		margin-bottom: 20px;
	}

	.wrap-block2 button {
		float: none;
	}

	.form-group input, .form-group textarea, .form-group select {
		width: 90%;
	}

	.form-group2 {
		width: 90%;
		margin-top: 40px;
	}

	.wrap-block1, .wrap-block2 {
		height: 100%;
	}

	.wraper-background {
		height: 100%;
	}

	.zvon a {
		font-size: 28px;
	}

	.span-all a {
		font-size: 18px;
	}

	.wrap-team, .wrap-otv, .wrap-komp, .wrap-exp {
		margin-bottom: 90px;
		margin-left: 0;
		margin-right: 15px;
		padding: 0 15px!important;
	}

	.panel-default>.panel-heading+.panel-collapse>.panel-body {
		padding: 15px;
	}

	.panel-title {
		margin-bottom: 20px!important;
	}

	.wrap3-button {
		text-align: center;
		padding: 0;
	}

	.telephone h2 {
		margin-top: 20px;
	}

	.telephone a {
		font-size: 55px;
		margin-bottom: 20px;
	}

	.telephone {
		margin-bottom: 20px;
	}

	.jdun h3 {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.jdun {
		margin-bottom: 40px;
	}

	.coop h2 {
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 32px;
	}

	.zayavka, .soglasovanie, .ocenka, .spor, .perechet {
		text-align: center;
		font-size: 35px;
	}

	.zayavka span, .soglasovanie span, .ocenka span, .spor span, .perechet span{
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}

	.zayavka p, .soglasovanie p, .ocenka p, .spor p, .perechet p {
		padding: 15px;
	}

	.sotrudnichestvo_timeline {
		margin-top: -40px;
		margin-left: 5px;
		text-align: center;
		width: 100%;
	}

	.coop-ul li {
		margin-bottom: 60px;
	}

	.anketa_back {
		width: auto;
	}

	.anketa h2 {
		margin: 40px 0;
		font-size: 50px;
	}

	.questions h2 {
		margin: 60px 0;
	}

	.adress, .e-mail, .phone {
		margin-bottom: 20px;
	}

	.adress > div h3, .e-mail > div h3, .phone > div h3 {
		font-size: 30px;
	}

	.adress > div p, .e-mail > div p, .phone > div p {
		font-size: 20px;
	}

	.feedback h2 {
		margin: 40px 0;
		border-left: none;
	}

	.logo-footer {
		text-align: center;
		margin: 40px 0;
	}

	.adress-footer {
		text-align: center;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.it-footer {
		text-align: center;
	}

	.wrap3-button button {
		height: 70px;
	}

	.questions {
		margin-bottom: 0;
	}

	.it-footer img {
		margin: 0;
	}

	.anketa button {
		width: 100%;
	}

	.telephone h2 {
		font-size: 35px;
	}

	.wrap-title h2 {
		font-size: 35px;
	}

	.wrap-title h3 {
		font-size: 27px;
	}

	.close {
		right: 0px!important;
		top: -40px!important;
		color: white!important;
	}

.modal.in .modal-dialog  {
		margin-top: 15%!important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.nav-ul li {
		font-size: 17px;
		margin: 0 7px;
	}

	.wraper-background {
		height: 100%;
	}

	.wrap-block1, .wrap-block2 {
		height: 100%;
	}

	.wrap-block2 button {
		float: none;
	}

	.knop {
		text-align: center;
		margin: 20px 0;
	}

	.wrap-block1 p {
		font-size: 17px;
	}

	.wrap-block1 span {
		font-size: 26px;
	}

	.telephone a {
		font-size: 79px;
	}

	.telephone {
		margin-bottom: 40px;
	}

	.jdun h3 {
		margin: 40px 0;
	}

	.jdun {
		margin-bottom: 0;
	}

	.coop h2 {
		margin: 40px 0;
	}

	.zayavka, .soglasovanie, .ocenka, .spor, .perechet {
		font-size: 26px;
	}

	.zayavka span, .soglasovanie span, .ocenka span, .spor span, .perechet span {
		margin-right: 10px;
	}

	.zayavka p, .soglasovanie p, .ocenka p, .spor p, .perechet p {
		padding-left: 120px;
	}

	.line {
		left: 40px;
		height: 104%;
	}

	.anketa_back {
		width: auto;
	}

	.anketa h2, .questions h2 {
		margin: 40px 0;
	}

	.anketa p {
		margin-bottom: 50px;
	}

	.adress::before, .e-mail::before, .phone::before, .krug, .krug2, .krug3 {
		display: none;
	}

	iframe {
		width: 100%;
		height: 400px;
	}

	.feedback h2 {
		border-left: none;
	}

	.wrap-team, .wrap-otv, .wrap-komp, .wrap-exp {
		margin-bottom: 50px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding: 0 15px!important;
	}

	.wrap-team h3, .wrap-otv h3, .wrap-komp h3, .wrap-exp h3 {
		font-size: 21px;
	}

	.panel-default>.panel-heading+.panel-collapse>.panel-body {
		padding-left: 100px;
	}
}


@media (min-width: 992px) and (max-width: 1199px) {
	.nav-ul li {
		font-size: 15px;
	}

	.wraper-background {
		height: 100%;
	}

	.wrap-block1, .wrap-block2 {
		height: 345px;
	}

	.zvon a {
		font-size: 24px;
		line-height: 44px;
	}

	.wrap-otv, .wrap-komp {
		margin-top: 0;
	}

	.wrap-komp {
		padding-right: 15px!important;
	}

	.wrap-otv {
		padding-left: 15px!important;
	}

	.krug {
		width: 700px;
	}

	.krug2 {
		width: 690px;
	}

	.krug3 {
		width: 500px;
		height: 500px;
		top: 215px;
	}

	.jdun {
		margin-bottom: 40px;
	}

	.zayavka, .soglasovanie, .ocenka, .spor, .perechet {
		font-size: 34px;
	}

	.zayavka span, .soglasovanie span, .ocenka span, .spor span, .perechet span {
		margin-right: 20px;
	}

	.zayavka p, .soglasovanie p, .ocenka p, .spor p, .perechet p {
		padding-left: 130px;
	}

	.line {
		left: 40px;
		height: 104%;
	}

	.anketa_back {
		width: auto;
	}

	iframe {
		width: 100%;
		height: 400px;
	}

	.adress-footer {
		font-size: 13px;
	}
}